{% extends "carnetAddressBookBundle::base.html.twig" %}

{% block title %}Carnet d'adresse - Liste des Sociétés{% endblock %}

{% block contenu %}
<h1>Mes sociétés</h1>
<ul class="btn-group btn-group-vertical">
        {%for societe in listeSocietes%}
           
                <a href="{{path('carnet_addressBook_societe_details', {'id':societe.idSociete|lower})}}">
                    <li class="btn btn-default">{{societe.nom}}</li>
                </a>
            
        {% endfor %}
</ul>
{% endblock %}
