{% extends "carnetAddressBookBundle::base.html.twig" %}

{% block title %}Carnet d'adresse{% endblock %}

{% block contenu %}
<h2>Liste des groupes:</h2>

{% for groupe in listeGroupes %}
    <ul class="list-group">
    <a href="{{path('carnet_addressBook_groupe_details', {'id': groupe.idGroupe|lower})}}">
        <li class="list-group-item">{{groupe.nom}}</li>
    </a>
    </ul>
{% endfor %}

{% endblock %}
